
{% extends "base.html" %}
{% load static %}

{% block head_content %}
	<title>@{{ request.user.username }} | Update profile</title>
	<meta name="description" content="Update profile">
	<meta name="author" content="">
{% endblock %}

{% block content %}
<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form action="{% url 'update' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="media">
                    {% if profile.profile_picture %}
                        <img src="{{ profile.profile_picture.url }}" class="rounded-circle" height="50" />
                    {% else %}
						 <img src="{% static 'img/default-profile.png' %}" class="rounded-circle" height="50" />
					{% endif %}

                    <div class="media-body">
                        <h5 class="ml-4">@{{ user.username }} | {{ user.get_full_name }}</h5>
                        <p class="ml-4"><input type="file" name="profile_picture" /></p>
                    </div>
                </div>

                {% for error in form.profile_picture.errors %}
                <div class="alert alert-danger">
                    <b>Picture: </b>{{ error }}
                </div>
                {% endfor %}

                <hr><br>

                {# Website field #}
                <div class="form-group">
                    <label>Website</label>
                    <input
                        class="form-control {% if form.web_site.errors %}is-invalid{% endif %}"
                        type="text"
                        name="web_site"
                        placeholder="Website"
                        value="{% if form.errors %}{{ form.web_site.value }}{% else %}{{ profile.web_site }}{% endif %}"
                    />
                    <div class="invalid-feedback">
                        {% for error in form.web_site.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                {# Bio field #}
                <div class="form-group">
                    <label>Bio</label>
                    <textarea
                        class="form-control {% if form.bio.errors %}is-invalid{% endif %}"
                        name="bio"
                    >{% if form.errors %}{{ form.bio.value }}{% else %}{{ profile.bio }}{% endif %}</textarea>

                    <div class="invalid-feedback">
                        {% for error in form.bio.errors %}
                            {{ error }}
                        {% endfor%}
                    </div>
                </div>

                {# Phone number field #}
                <div class="form-group">
                    <label>Phone</label>
                    <input
                        class="form-control {% if form.phone.errors %}is-invalid{% endif %}"
                        type="text"
                        name="phone"
                        placeholder="Phone"
                        value="{% if form.errors %}{{ form.phone.value }}{% else %}{{ profile.phone }}{% endif %}"
                    />
                    <div class="invalid-feedback">
                        {% for error in form.phone.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-5">Update profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}